* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    justify-content: center;
    text-align: center;
    padding: 0 10%;
}

#container-page {
    position: relative;
    min-height: 100vh;
}

#content-page {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    justify-content: center;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    background-color: #bec2bf;
    padding-top: 10px;
    color: rgb(37, 37, 37);
    font-size: 20px;
}

#footer i {
    padding: 0 0.5%;
}

li, a, button {
    color: rgb(37, 37, 37);
    text-decoration: none;
}

.logo {
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
    font-weight: 700;
    font-size: 2em;
}

header {
    font-size: 2.2vh;
    background-color: #bec2bf;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0 1% 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgba(255, 255, 255, 0.753);
}

/* .log-in {
    padding-left: 3%;
    list-style: none;
    padding: 0 3%;
} */

.log-in li {
    display: inline-block;
    padding: 0 10px;
}

.log-in li a {
    color: #6e6e6e;
    transition: all 0.2s ease 0s;
}

.log-in li a:hover {
    color: rgba(255, 255, 255, 0.753);
}

.blog-post {
    border: 2px rgb(37, 37, 37) solid;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: left;
    background-color: rgba(240, 240, 240, 0.753);
}

.tekst {
    justify-content: left;
    text-align: left;
    margin: 10px 0;
    margin-left: 35px;
}

.datum {
    margin-right: 35px;
    border-bottom: solid rgb(117, 117, 117);
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: rgba(51, 51, 51, 0.753);
}

/* *Alerts */
.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 7px;
  }
  
.alert-goed {
    background-color: #29bd61;
}

.alert-failed {
    background-color: #971414;
}

  /* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
  }

.inhoud {
    width: 97%;
    overflow: auto;
    display: block;
    margin-right: 0px;
    text-align: left;
}

.artikel-afbeelding {
    width: 20%;
    height: 20%;
    float: right;
    margin-left: auto;
    clear: both;
}

.mobile {
    display: none;
}

.photo-container {
    border: 2px rgb(37, 37, 37) solid;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: left;
    background-color: rgba(240, 240, 240, 0.753);
}

.photo-titel {
    font-size: 20px;
    justify-content: left;
    text-align: left;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid rgb(117, 117, 117);
}

.galery {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-height: 80vh;
    grid-gap: 0.4rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-out;
    cursor: pointer;
}


.img-container img:hover {
    transform: scale(1.05);
}

.modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    font-size: 2rem;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

@media screen and (max-width: 780px) {
    .logo {
        font-size: 1.9rem;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
    #mobile {
        margin-right: 15px;
        margin-top: 15px;
        color: #000000;
        font-size: 25px;
    }
    #mobile-links {
        display: none;
    }
    #mobile-links a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        /* color: #6e6e6e;  color voor login*/ 
        color: rgb(37, 37, 37);
        transition: all 0.3s ease 0s;
    }
    #m-login a {
        color: #6e6e6e;
    }

    #m-register a {
        color: #6e6e6e;
    }

    ul.mobile {
        background-color: #bec2bf;
        width: 100%;
        padding: 0% 0 3% 10%;
        list-style: none;
    }
    #mobile-links a:hover {
        color: rgba(255, 255, 255, 0.753);
    }
    .m-link a {
        padding: 5px 0;
    }

    .artikel-afbeelding {
        height: 40%;
        width: 40%;
    }
}