<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags, app bar voor Apple support -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icons en styling, letertype, ... -->
    <link rel="icon" href="static/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forms.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3d69719818.js" crossorigin="anonymous"></script>

    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <!-- ! IOS support voor icons -->
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/icons/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/icons/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/icons/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/icons/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/icons/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images/icons/apple-icon-180x180.png')}}">
    <meta name="apple-mobile-web-app-status-bar" content="#bec2bf">
    <!-- ! Support voor windows 10 icons -->
    <meta name="msapplication-TileColor" content="#bec2bf">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='images/icons/ms-icon-144x144.png')}}">
    {% if title %}
    <title>ArneDeV - {{title}}</title>
    {% else %}
    <title>ArneDeV</title>
    {% endif %}
</head>

<body>
    <div id="container-page">
        <div id="content-page">
            <header>
                <div class="logo">ArneDeV</div>
                <nav>
                    <ul class="nav_links desktop">
                        <li>
                            <a href="{{url_for('home')}}"> Home </a>
                        </li>
                        <li>
                            <a href="{{url_for('photos')}}"> Foto's </a>
                        </li>
                        <li>
                            <a href="{{url_for('blog')}}"> Blog </a>
                        </li>
                    </ul>
                </nav>
                <ul class="log-in desktop">
                    <li id='login'><a href="{{url_for('login')}}">Log in</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </ul>
                <div class="log-in mobile">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars" id="mobile"></i>
                    </a>
                </div>
            </header>
            <div id="mobile-links">
                <ul class="mobile m-link">
                    <li>
                        <a href="/"> Home </a>
                    </li>
                    <li>
                        <a href="{{url_for('photos')}}"> Foto's </a>
                    </li>
                    <li>
                        <a href="{{url_for('blog')}}"> Blog </a>
                    </li>
                    <li id="m-login"><a href="{{url_for('login')}}">Log in</a></li>
                    <li id="m-register"><a href="{{url_for('register')}}">Register</a></li>
                </ul>
            </div>
            <!-- * Einde navbar -->
            <main>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <footer id='footer'>
            Arne De Veylder 2020 | <a href="mailto:arne.de.veylder@telenet.be"><i class='fas fa-envelope'></i></a>
            <a href="http://m.me/arne.de.veyder"><i class='fab fa-facebook-messenger'></i></a>
            <a href="https://www.instagram.com/arne.deveylder/"><i class='fab fa-instagram'></i></a>
        </footer>
    </div>
    {% block scripts %}
    {% endblock %}
    <script>
        function myFunction() {
            var x = document.getElementById("mobile-links");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>

</html>