{% extends 'layout.html' %}
{% block content %}
<div class="form-section">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            <legend>Meld je aan</legend>
            <div>
                {{form.username.label(class="form-label")}}
                {{form.username(class="form-group")}}
            </div>
            <div>
                {{form.password.label(class="form-label")}}
                {{form.password(class="form-group")}}
            </div>
            <div id="remember">
                {{form.remember.label(class="form-label rem-label")}}
                {{form.remember(class="remember-box")}}
            </div>
            <div>
                {{form.submit(class="button")}}
            </div>
        </fieldset>
    </form>
</div>
<div id="noggeen"><small>Heb je nog geen account? <a href="{{url_for('register')}}">Sign Up!</a></small></div>
{% endblock content %}